/* styles css */
@import "about page.css";
@import "blog page.css";
@import "index.css";
@import "sign up.css";
@import "log in.css";
@import "home.css";





* {
    margin: 0;
    padding: 0;
}
body, html {
    margin: 0 auto;
    padding: 0;
}
